.dropdown-wrapper{
    display: flex;
    gap: 10pt;
    position: relative;
    font-size: 15pt;
    width: fit-content;
    align-items: center;
}

.dropdown-bttn{
    padding: 8pt 10pt;
    background-color: white;
    border: 1pt solid #5f5883;
    border-radius: 9pt;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    gap: 50pt;
    position: relative;
}

.dropdown-bttn span {
    display: flex;
    align-items: center;
    color: grey;
    fill: grey;
    gap: 10pt;
}

.dropdown-bttn span svg path {
    color: grey;
}


.dropdown-menu{
    position: absolute;
    width: 100%;
    top: calc(100% - 8pt);
    right: 0;
    padding: 5pt 0;
    background-color: white;
    border-radius: 0 0 9pt 9pt;
    opacity: 0.2;
    transform: scale(0);
    border: 1pt solid #5f5883;
    border-top: none;
    z-index: 999;
}

.dropdown-menu.open{
    opacity: 1;
    transform: scale(1);
}
.dropdown-menu .item{
    padding: 8px 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10pt;
}

.dropdown-menu .item:hover{
    background-color: #ddd;
}

.dropdown-menu .item.active{
    font-weight: bold;
}

.label {
    margin: 0;
}
